@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #07969e;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
